.treeView li {
    list-style-type: none;
}

.treeView {
    height: inherit;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.isNotBranch {
    margin-left: 0;
}

.isBranch {
    margin-left: 8px;
}

.bold {
    font-weight: bold;
    margin-right: 12px;
}