.postCoordinationCodeList {
    display: flex;
    flex-direction: row;
}

.postCoordinationCodeList > p {
    color: var(--red-100per);
    font-size: 14px;
    margin: 0 4px 0 0;
}

.code {
    cursor: pointer;
}