.mainWrapper {
	width: 505px;
	height: 405px;
	padding: 8px 0 8px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0, 31, 141, 0.14);
	border-radius: 8px;
  position: absolute;
  top: 55px;
  left: 0px;
	z-index: 12;
	overflow: auto;
}

.extendWrapper {
	width: 416px;
	height: 330px;
	padding: 8px 0 8px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0, 31, 141, 0.14);
	border-radius: 8px;
  position: absolute;
  top:55px;
  left: 0px;
	z-index: 12;
	overflow: auto;
	color: var(--black-100per);
	font-family: 'Golos 14pt Regular 14x20';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.01em;
}

.postcoordinationWrapper {
	width: 416px;
	height: 330px;
	padding: 8px 0 8px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0, 31, 141, 0.14);
	border-radius: 8px;
  position: absolute;
  top:55px;
  left: 0px;
	z-index: 12;
	overflow: auto;
}

.extendWrapper {
	width: 416px;
	height: 330px;
	padding: 8px 0 8px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0, 31, 141, 0.14);
	border-radius: 8px;
  position: absolute;
  top:55px;
  left: 0px;
	z-index: 12;
	overflow: auto;
	color: var(--black-100per);
	font-family: 'Golos 14pt Regular 14x20';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.01em;
}

.postcoordinationWrapper {
	width: 416px;
	height: 330px;
	padding: 8px 0 8px;
	background: #ffffff;
	box-shadow: 0px 2px 8px rgba(0, 31, 141, 0.14);
	border-radius: 8px;
  position: absolute;
  top:55px;
  left: 0px;
	z-index: 12;
	overflow: auto;
}
