# Dependency directory
.idea
# Logs
logs
*.log
npm-debug.log*
# Runtime data
pids
*.pid
*.seed
*.ssh
*.ppk
v8-compile-cache-0/
Thumbs.db

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
bin

# Personal Scripts
*.bat
*.ssh
*.sh
package-lock.json
# Editors
.vscode
yarn.lock
# Build Files
temp
*.map
node_modules
/dist
./dist