:host {
    width: 45vw;
}

/*.container-settings {*/
/*    background: black;*/
/*    color: white;*/
/*    height: 100%;*/
/*    box-sizing: border-box;*/
/*    padding: 12px 12px;*/
/*}*/

.settings {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.constants, .memory {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: black;
    color: white;
    padding: 12px 0 12px 12px;
}

.constants .settings, .memory .settings {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-weight: bold;
}

.constants .settings span.value, .memory .settings span.value {
    color: rgba(180, 73, 73, 0.58);
}

pre {
    background: black;
    color: white;
    margin: 0;
    box-sizing: border-box;
    padding: 8px 0;
}

