:host {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	background: rgb(56 61 69 / 70%);
	z-index: 200;
	display: none;
}

.content {
	height: 100%;
	width: 100%;
}

dialog {
	display: flex;
	flex-direction: column;
	width: 37.19vw;
	padding: 0;
	box-sizing: border-box;
	background: #FFFFFF;
	box-shadow: 0px 0.26vw 1.15vw rgba(148, 152, 170, 0.48);
	border-radius: 0.21vw;
	height: -moz-min-content;
	height: min-content;
	overflow: inherit;
	border: none;
}

.dialog {
	position: fixed;
	top: 0;
	left: 0;
	background: #13221c87;
	width: 100%;
	z-index: 200;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 1.25vw 1.67vw 1.04vw 1.67vw;
	height: 3.75vw;
	box-shadow: 0px -0.05vw 0px 0px #EAEAEF inset;
}

[class*="body"] {
	display: flex;
	flex-direction: column;
	font-family: 'Inter',serif;
	box-sizing: border-box;
	padding: 2.08vw;
	align-items: center;
	gap: 1.25vw;
	box-shadow: 0px -0.05vw 0px 0px #EAEAEF inset;
	font-size: 0.83vw;
}

.body p {
	font-family: 'Inter',serif;
	font-size: 0.83vw;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	white-space: break-spaces;
}

footer {
	display: flex;
	justify-content: flex-end;
	gap: 1.25vw;
	padding: 0.83vw 1.67vw;
	box-sizing: border-box;
	/*gap: 1.15vw;*/
	/*background: #FFFFFF;*/
	/*box-shadow: 0px -0.05vw 0.36vw rgba(25, 59, 123, 0.06);*/
	/*border-radius: 0px 0px 0.21vw 0.21vw;*/
	/*height: 3.85vw;*/
	/*box-sizing: border-box;*/
	/*padding-right: 1.56vw;*/
	/*margin-top: 1.56vw;*/
}

.footer-button {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	cursor: pointer;
}

.footer-button p {
	margin: 0;
	padding: 0;
	align-self: center;
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 0.78vw;
	line-height: 0.94vw;
	display: flex;
	align-items: center;
	text-align: center;
}

.body_select {
	display: flex;
	flex-direction: column;
	width: 26.56vw;
	height: 2.71vw;
	align-self: center;
	background: #F5F7FA;
	border-radius: 0.21vw;
	position: relative;
}

.body_select_label {
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 0.57vw;
	line-height: 0.78vw;
	color: #6E8FB0;
}

#select {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: unset;
	background: transparent;
}

.header-close {
	cursor: pointer;
	align-self: center;
	width: 1.25vw;
	height: 1.25vw;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0.31vw;
}

/*.header-close img {*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/

.cancel {
	width: 5.99vw;
	height: 2.29vw;
	background: #FFFFFF;
	border: 0.05vw solid #E02B1D;
	border-radius: 0.21vw;
	color: #E02B1D;
}

.remove {
	width: 6.2vw;
	height: 2.29vw;
	background: #E02B1D;
	border-radius: 0.21vw;
	color: white;
}

.next, .save, .update {
	margin: 0px;
	align-items: center;
	font-family: Inter, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 0.78vw;
	line-height: 0.94vw;
	display: flex;
	text-align: center;
	color: rgb(255, 255, 255);
	flex-direction: row;
	justify-content: center;
	padding: 0.68vw 1.56vw;
	gap: 0.47vw;
	background: rgb(110, 143, 176);
	border-radius: 0.21vw;
}

.blue {
	color: var(--neutral-d-grey, #32475C);
	border: 0.05vw solid var(--neutral-l-grey, #6E8FB0);
}

.title {
	padding: 0;
	margin: 0;
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 600;
	align-self: center;
	color: var(--black-100, #333);
	font-size: 1.04vw;
	line-height: 1.46vw;
}

[class*="input"] {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow: 1;
	width: 21.56vw;
	height: 2.92vw;
	padding: 0.42vw 1.04vw;
	box-sizing: border-box;
	position: relative;
	border-radius: 0.21vw;
	border: 0.05vw solid var(--neutral-l-grey, #6E8FB0);
	background: var(--neutral-white, #FFF);
}

[class*="input"] input {
	border: none;
	width: 100%;
	height: 100%;
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 400;
	padding: 0;
	color: var(--neutral-d-grey, #32475C);
	font-size: 0.83vw;
	line-height: 1.25vw;
	background: white;
}

[class*="input"] input:-webkit-autofill,
[class*="input"] input:-webkit-autofill:hover,
[class*="input"] input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	/*border: 1px solid black;*/
	-webkit-text-fill-color: black;
	-webkit-box-shadow: white;
	-webkit-transition: background-color 5000s ease-in-out 0s;
	transition: background-color 5000s ease-in-out 0s;
}


input[type=number] {
	-moz-appearance: textfield;
}

[class*="input"] input::-webkit-outer-spin-button,
[class*="input"] input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.close {
	cursor: pointer;
	width: 1.25vw;
	height: 1.25vw;
	/*width: min(2.22vh, 1.25vw);*/
	/*height: min(2.22vh, 1.25vw);*/
}

.close svg{
	width: 100%;
	height: 100%;
}

::-moz-placeholder {
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 400;
	color: var(--neutral-d-grey, #32475C);
	opacity: 1; /* Firefox */
}

::placeholder {
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 400;
	color: var(--neutral-d-grey, #32475C);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 400;
	color: var(--neutral-d-grey, #32475C);
}

::-ms-input-placeholder { /* Microsoft Edge */
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 400;
	color: var(--neutral-d-grey, #32475C);
}

[class*="input"] input:focus-visible {
	outline: none;
}

[class*="fer-titile"] {
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 0.57vw;
	line-height: 0.78vw;
	color: #6E8FB0;
	z-index: 1;
	box-sizing: border-box;
}

[class*="validation"] {
	position: absolute;
	bottom: -1.3vw;
	left: 0;
	font-family: 'Inter', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 0.57vw;
	line-height: 0.78vw;
	color: #E48900;
	margin: 0;
	padding: 0;
}

[disabled] {
	background: #F5F7FA!important;
}