.wrapper {
	/* width: 180px;
	margin: 0 54px;
	padding: 54px; */
	height: 100%;
}

.infoSearch {
	width: 10.40087vw;
	height: 1.30011vw;
	font-family: 'Golos 9pt Regular 9x12';
	font-style: normal;
	font-weight: 400;
	font-size: 0.48754vw;
	line-height: 0.65005vw;
	display: flex;
	align-items: center;
	color: var(--black-50per);
	margin-bottom: 0.65005vw;
}

.wordsWrapper {
	/* height: 445px; */
	overflow: auto;
	height: 54vh;
	width: 9.85915vw;
}

.word {
	display: flex;
	align-items: center;
	color: var(--black-100per);
	font-family: 'Golos 14pt Regular 14x20';
	font-style: normal;
	font-weight: 400;
	font-size: 0.7584vw;
	line-height: 1.08342vw;
	letter-spacing: -0.01em;
	margin: 0;
	cursor: pointer;
}

.filterTitle {
	width: 10.94258vw;
	height: 1.08342vw;
	font-family: 'Golos 14pt Medium 14x20';
	font-style: normal;
	font-weight: 500;
	font-size: 0.7584vw;
	line-height: 1.08342vw;
	letter-spacing: -0.01em;
	color: var(--black-100per);
	margin-bottom: 0.59588vw;
}

.infoSearchDown {
	width: 10.40087vw;
	height: 1.30011vw;
	font-family: 'Golos 9pt Regular 9x12';
	font-style: normal;
	font-weight: 400;
	font-size: 0.48754vw;
	line-height: 0.65005vw;
	display: flex;
	align-items: center;
	color: var(--black-50per);
	margin-top: 0.65005vw;
	margin-bottom: 0.65005vw;

}
