.button__main {
	/* width: 91px; */
	height: 2.16685vw;
	/* min-width: 91px; */
	min-height: 2.16685vw;
	padding: 0 1.35428vw;
	background: var(--blue-100per);
	border-radius: 0.21668vw;
	font-family: 'Golos 14pt Medium 14x20';
	font-size: 0.7584vw;
	color: var(--white-100per);
  outline: none;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
}

.button__main:hover {
	background: var(--blue-120per);
  outline: none;
	border: none;
	
}

.button__main:focus {
	background: var(--blue-50per);
	border: 0.05417vw solid var(--blue-40per);
	outline: none;
}

.button__main:active {
	background: var(--blue-120per);
}

.button__main:disabled {
	background: var(--black-35per);
  outline: none;
}
