.button__second-download {
    width: 6.66306vw;
    height: 2.16685vw;
    min-width: 6.66306vw;
    min-height: 2.16685vw;
    padding: 0 1.24594vw 0 1.02925vw;
    background: var(--white-100per);
    border: 0.05417vw solid var(--black-10per);
    border-radius: 0.21668vw;
    font-family: 'Golos 14pt Medium 14x20';
    font-size: 0.7584vw;
    color: var(--blue-100per);
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
}

.button__second-download path {
  fill: var(--blue-50per);
}

.button__second-download:hover {
  padding: 0 1.24594vw 0 1.02925vw;
	background: var(--blue-10per);
	border: 0.05417vw solid var(--blue-50per);
	outline: none;

}

.button__second-download:hover path {
  fill: var(--blue-100per);
}

.button__second-download:focus {
  padding: 0 1.13759vw 0 0.92091vw;
	background: var(--white-100per);
	border: 0.16251vw solid var(--blue-40per);
	outline: none;
}

.button__second-download:focus path {
  fill: var(--blue-120per);
}

.button__second-download:active {
  padding: 0 1.24594vw 0 1.02925vw;
	background: var(--blue-20per);
	border: 0.05417vw solid var(--blue-120per);
  outline: none;
}

.button__second-download:active path {
  fill: var(--blue-50per);
}

.button__second-download:disabled {
  padding: 0 1.35428vw 0 1.13759vw;
	background: var(--black-5per);
	outline: 0.05417vw solid var(--black-10per);
	color: var(--black-35per);
}

.button__second-download:disabled path {
  fill: var(--black-15per);
}
