:host {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.constants {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settings {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-weight: bold;
}

.color_0 {
    background: rgba(255, 120, 120, 0.62);
}

.color_1 {
    background: rgba(255, 213, 123, 0.54);
}

.color_2 {
    background: rgba(91, 252, 252, 0.69);
}

.color_3 {
    background: rgba(136, 173, 255, 0.25);
}

[class*="array"] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    /*gap: 12px;*/
}

.start-sample {
    width: 6vw;
}

.sample {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.frame, [class*="sample_"].item {
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.frame .value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 8px;
    height: 100%;
}

.frame .value.active {
    background: #2459a987;
}

.filters {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.item span {
    text-align: center;
    color: black;
}

button.start {
    margin-top: 25px;
    min-width: 65px;
    cursor: pointer;
    width: 6vw;
}

[class*="array"].line {
    gap: 8px;
}

.settings span.value {
    color: rgba(180, 73, 73, 0.58);
}

[class*="sample_"].item span {
    text-align: start;
}



body
{
    /* background-color:#FFFFFF; /* Uncomment for black text on white background */
    background-color:#272727; /* Uncomment for white text on black background */
}

#mainDiv
{
    width:720px;
    margin-left:auto;
    margin-right:auto;
    vertical-align:center;
    background: #272727;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#outputDiv
{
    width:480px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    padding:4px;
}

#outputTextElement
{
    text-align:left;
    font-size:42px;
    font-family:monospace;
    /* color:#000000; /* Uncomment for black text on white background */
    color:white; /* Uncomment for white text on black background */
}

.outputText
{
    text-align:left;
    font-size:42px;
    font-family:monospace;
    /* color:#000000; /* Uncomment for black text on white background */
    color:white; /* Uncomment for white text on black background */
}

.highlight
{
    color:#ff7030;
}

#progressBarBaseDiv
{
    width:600px;
    height:3px;
    margin-left:auto;
    margin-right:auto;
    background-color:#606060;
}

#progressBarDiv
{
    width:0px;
    height:3px;
    background-color:#a0a0a0;
}

#controlButtons
{
    margin: 0px auto 0px auto;
    text-align:center;
}

.controlButton
{
    margin: 0px 6px 0px 6px;
    text-align:center;
    font-size:32px;
    font-family:monospace;
}

#speedAndCheckBoxesDiv
{
    margin: 0px auto 0px auto;
    text-align:center;
}

textarea
{
    border:1px solid #999999;
    width:100%;
    margin:5px 0;
    padding:3px;
    box-sizing: border-box;
}

.UIText
{
    /* color:#000000; /* Uncomment for black text on white background */
    color:#a0a0a0;    /* Uncomment for black text on white background */
}

.UIDisabledText
{
    color:#808080;
}

.UIInput
{
    background-color:#e0e0e0;
}

.UIInputReadOnly
{
    background-color:#b0b0b0;
}
