:host {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.settings {
    margin: 0 3.6vw 12px 3.6vw;
}

.color_0 {
    background: rgba(255, 120, 120, 0.62);
}

.color_1 {
    background: rgba(255, 213, 123, 0.54);
}

.color_2 {
    background: rgba(91, 252, 252, 0.69);
}

.color_3 {
    background: rgba(136, 173, 255, 0.25);
}

.array {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.item span {
    text-align: center;
    color: black;
}

button.start {
    min-width: 65px;
    cursor: pointer;
}