:host {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.constants {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settings {
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-weight: bold;
}

.color_0 {
    background: rgba(255, 120, 120, 0.62);
}

.color_1 {
    background: rgba(255, 213, 123, 0.54);
}

.color_2 {
    background: rgba(91, 252, 252, 0.69);
}

.color_3 {
    background: rgba(136, 173, 255, 0.25);
}

[class*="array"] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    /*gap: 12px;*/
}

.start-sample {
    width: 6vw;
}

.sample {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.frame, [class*="sample_"].item {
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.frame .value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 8px;
    height: 100%;
}

.frame .value.active {
    background: #2459a987;
}

.filters {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.item span {
    text-align: center;
    color: black;
}

button.start {
    margin-top: 25px;
    min-width: 65px;
    cursor: pointer;
    width: 6vw;
}

[class*="array"].line {
    gap: 8px;
}

.settings span.value {
    color: rgba(180, 73, 73, 0.58);
}

[class*="sample_"].item span {
    text-align: start;
}

.container-reader {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
}