.header__wrapper {
	width: 100%;
	height: 3.46696vw;
    min-height: 3.46696vw;
    max-height: 3.46696vw;
	background-color: var(--blue-120per);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

.header__container-left {
  display: flex;
  align-items: center;
}

.header__logo-name {
  width: 1.95016vw;
  height: 1.95016vw;
  display: flex;
  padding-left: 1.67931vw;
  align-items: center;
}

.header__name {
  font-family: 'Golos 16pt Medium 16x24';
  color: var(--white-100per);
  text-decoration: none;
}

.header__navigation {
  display: flex;
  padding-left: 2.16685vw;
  box-sizing: border-box;
  padding-bottom: 0.10834vw;
}

.header__container-right {
  display: flex;
  align-items: center;
  margin-right: 2.11268vw;
}
