.filter-menu-item__wrapper {
	font-family: 'Golos 14pt Medium 14x20';
	font-style: normal;
	font-weight: 400;
	font-size: 0.7584vw;
	line-height: 1.08342vw;
	letter-spacing: -0.01em;
	color: var(--black-100per);
	padding: 0.43337vw 0.86674vw 0;
	margin-bottom: 0.21668vw;
	width: 16.08884vw;
	height: 1.95016vw;
	background: var(--white-100per);
	box-shadow: 0px 0.10834vw 0.43337vw rgba(0, 31, 141, 0.14);
	border-radius: 0.43337vw;
	box-sizing: border-box;
	display: flex;
}

.filter-menu-item__wrapper:hover {
	background: var(--blue-10per);

}
