.sign-in {
  height: 20px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);

}

.sign-in__text {
  font-family: 'Golos 14pt Medium 14x20';
  color: var(--white-60per);
  text-decoration: none;
  margin-left: 11px;
  cursor: pointer;
}
