.postCoordinationCodeList {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-grow: 1;
    align-self: center;
    justify-content: flex-end;
}

.postCoordinationCodeList > p {
    color: var(--red-100per);
    font-size: 0.7584vw;
    margin: 0 0.21668vw 0 0;
    left: -1.67931vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code {
    cursor: pointer;
    left: 0;
    font-weight: 500;
    font-size: 0.7584vw;
    line-height: 1.08342vw;
    word-break: break-word;
}

@media only all and (max-width: 479px) {
    .postCoordinationCodeList {

    }
    .postCoordinationCodeList > p {
        word-break: normal;
    }
}
