.container {
  box-shadow: 0px 0.27086vw 1.30011vw rgba(148, 152, 170, 0.48);
  border-radius: 0.21668vw;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1.62514vw;
  height: 3.90033vw;
  align-items: center;
  background: var(--orange-100per);
}

.attention {
  font-family: 'Golos 16pt Medium 16x24';
  font-size: 0.97508vw;
  color: var(--white-100per);
  display: flex;
  align-items: center;
}

.attention img {
  margin: auto 0.54171vw auto auto;
}

.close {
  padding: 0.27086vw;
  cursor: pointer;
}

.close img {
  margin: auto;
}

.body {
  font-family: 'Golos 16pt Medium 16x24';
  font-size: 0.7584vw;
  line-height: 1.08342vw;
  font-weight: 400;
  padding: 1.73348vw 1.73348vw 0.86674vw 1.73348vw;
  background: var(--white-100per);
}
