.footer__wrapper {
	width: 100%;
  height: 4.33369vw;
  background-color: var(--blue-10per);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__container {
  padding-left: 3.46696vw;
  padding-right: 3.46696vw;
}

.footer__text {
  font-family: 'Golos 14pt Regular 14x20';
font-size: 0.7584vw;
letter-spacing: -0.01em;
color: var(--black-35per);
margin-bottom: 0.32503vw;
}

.footer__email_blue {
  color: var(--blue-40per);
}
