.postCoordinationCodeList {
    display: flex;
    flex-direction: row;
}

.postCoordinationCodeList > p {
    color: var(--red-100per);
    font-size: 0.7584vw;
    margin: 0 0.21668vw 0 0;
}

.code {
    cursor: pointer;
}