hr {
	border: 0.05417vw solid #EAEAEF;
	/* margin: 0; */
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    background: var(--Main_Main_Layout_container_blue-5per);
    flex-grow: 1;
    /*gap: 20px;*/
}

.help {
    padding-bottom: 0.65005vw;
}

.aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 27.30228vw;
    max-width: 27.30228vw;
    height: -moz-fit-content;
    height: fit-content;
    padding-right: 1.08342vw;
    box-sizing: border-box;
}

.searchWrapper {
    width: 100% !important;
    margin-bottom: 0.65005vw;
}

.searchInput {
    width: 100% !important;
}

.content__mkb {
    max-height: 82vh;
}

.content__mkb_admin {
    /*max-height: 67.4vh;*/
    border-top: 0.05417vw solid var(--black-10per);
}

.content.contentShort {
	height: 52vh;
}

.search {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 0.65005vw;
		width: 27.35645vw;
}

.advancedSearch {
    align-self: center;
    cursor: pointer;
    font-size: 0.59588vw;
}

.advancedSearch > input{
    width: 0;
    height: 0;
    visibility: hidden;
}

.treeViews {
    overflow-y: auto;
    overflow-x: hidden;
    height: 67.4vh;
    border-top: 0.05417vw solid var(--black-10per);
}

.treeViews:-webkit-scrollbar-thumb {
    border-radius: 5.41712vw;
    background: #8070d4;
    border: 0.32503vw solid rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.90033vw;
    align-items: center;
    box-sizing: border-box;
    padding: 0.54171vw 1.73348vw 0;
}

.title {
    font-weight: 600;
    font-size: 1.30011vw;
    line-height: 1.73348vw;
    color: var(--black-100per);
}

.titleHeader, .title {
    font-weight: 600;
    font-size: 0.97508vw;
}

.icon {
    cursor: pointer;
}

.dialog {
    position: absolute;
    width: 27.51896vw;
    height: 28.71073vw;
    box-shadow: 0px 0.27086vw 1.30011vw rgba(148, 152, 170, 0.48);
    border-radius: 0.21668vw;
    background: var(--Main_Main_Layout_dialog);
    left: -31.41928vw;
    top: 7.90899vw;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
		z-index: 20;
}

.searchContainer {
  padding: 0.86674vw 1.73348vw 1.30011vw;
}

.searchEnhance {
    display: flex;
    align-items: center;
    gap: 0.97508vw;
    flex-direction: row;
		position: relative;
		width: 24.37703vw;
}

.searchWarning {
    font-weight: 400;
    font-size: 0.7584vw;
    margin-bottom: 0.65005vw;
}

.searchButton {
    display: flex;
    align-items: center;
    gap: 1.30011vw;
    flex-direction: row-reverse;
    margin-bottom: 1.08342vw;
}

.searchItem {
  color: var(--blue-50per);
  cursor: pointer;
}

.searchItem:hover {
  color: var(--blue-100per);
  cursor: pointer;
}

.searchWrapper {
  margin-bottom: 0.65005vw;
	width: 21.88516vw;
}

.SearchFilter {
    display: flex;
    flex-direction: row;
    gap: 0.7584vw;
}

.Check {
    background: var(--Main_Main_Layout_Check_blue-50per);
    border-radius: 0.21668vw;
    height: 1.08342vw;
    width: 1.08342vw;
}

.not-checked-item svg {
    opacity: 0;
}

.Check.disable {
  border: 0.10834vw solid var(--black-15per);
}

.listFilter {
    display: flex;
    flex-direction: column;
    gap: 0.70423vw;
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 0.65005vw;
    cursor: pointer;
}

.searchResultWrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1.73348vw;
		align-items: center;
		box-shadow: 0px -0.27086vw 0.65005vw -0.54171vw rgba(148, 152, 170, 0.48);
		height: 3.52113vw;
}

.searchResult {
    width: 6.66306vw;
    height: 2.16685vw;
    min-width: 6.66306vw;
    min-height: 2.16685vw;
    padding: 0 1.24594vw 0 1.24594vw;
    background: var(--Main_Main_Layout_search-result);
    border: 0.05417vw solid var(--black-10per);
    border-radius: 0.21668vw;
    font-family: 'Golos 14pt Medium 14x20';
    font-size: 0.7584vw;
    color: var(--blue-100per);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.crossHelp {
    cursor: pointer;
}

.uri {
    font-size: 0.59588vw;
    margin-bottom: 1.08342vw;
}

.p {
    margin-bottom: 1.08342vw;
    margin-top: 0.43337vw;
    font-weight: 400;
    font-size: 0.7584vw;
    line-height: 1.08342vw;
}

.link {
    color: var(--blue-50per);
}

.ul {
    margin-left: 0.97508vw;
    margin-bottom: 1.08342vw;
    margin-top: 0.43337vw;
    display: flex;
    flex-direction: column;
    gap: 0.32503vw;
}

.li {
    font-weight: 400;
    font-size: 0.7584vw;
}

.section::-webkit-scrollbar-thumb {
    border: 0.27086vw solid transparent;
    border-radius: 5.41712vw;
    background-color: #8070d4;
    background-clip: content-box;
}

.propertyTree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1.08342vw;
    -webkit-user-select: none;
            -moz-user-select: none;
         user-select: none;
}

.colspanButton {
    cursor: pointer;
}

.children__inputSearch {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 3.79198vw;
    width: 26.21885vw;
}

.searchExtend {
	width: 21.9935vw;
}

.propertyIcon {
    display: flex;
    flex-direction: row;
    gap: 0.65005vw;
}

.search__wrapper {
    margin-bottom: 1.30011vw!important;
    width: 100%!important;
    min-width: unset!important;
    min-height: unset!important;
    background: var(--Main_Main_Layout_search-wrapper);
}

@media (max-width: 768px) {
    /*.aside {*/
        /*width: 120px;*/
        /*background: red;*/
    /*}*/
}

/*@media screen and (min-width: 480px) {*/
/*   */
/*}*/

.mobileButton {
    position: absolute;
    top: -1.08342vw;
    left: -2.97941vw;
    background: aquamarine;
}

.style__Breadcrumbs_container {
    margin-bottom: 0.64vw;
}

.inputSearch {
    width: 100%!important;
    background: transparent;
}

@media only all and (max-width: 767px) {
    .aside {
        width: 13.00108vw;
        min-width: unset;
        max-width: unset;
        padding: 0;
    }

		.search {
			width: 18.68906vw;
		}

		.searchExtend {
			width: 16.14301vw;
		}

		.searchResultWrapper {
			height: 4.06284vw;
		}

    .content {
      display: none;
    }

    .search {
        margin-bottom: 1.08342vw;
    }

    .children__inputSearch {
        gap: 1.08342vw;
        width: initial;
        flex-direction: row-reverse;
    }

    .search__wrapper {
        min-width: unset!important;
        min-height: unset!important;
        margin-bottom: 0.43337vw!important;
        padding: 0 0.65005vw;
        background: white;
    }

    .inputSearch {
        width: -webkit-fill-available!important;
        width: 100%!important;
    }

    .icon_wrapper {
        margin-right: 1.08342vw;
    }

    .advancedSearch {
        margin-right: 3.03359vw;
    }

    .style__Breadcrumbs_container {
        display: none!important;
    }

    .propertyIcon {
        display: none!important;
    }

    .propertyTree {
        justify-content: end!important;
    }

    .dialog {
        width: 19.28494vw;
        top: 5.20043vw;
        height: 24.052vw;
    }

    .searchWarning, .searchButton, .crossHelp {
        display: none;
    }

    .content {
        flex-direction: column;
    }
}

.conceptPage {
    width: 100%;
    max-width: 65.49296vw;
    position: relative;
}

@media all and (min-width: 768px) and (max-width: 1368px) {
    .aside {
        width: 60.02167vw;
        min-width: unset;
        max-width: unset;
    }

		.search {
			width: 100%;
			/* width: 245px; */
		}

		.children__inputSearch {
			width: 100%;
			/* width: 245px; */
		}
}

@media all and (min-width: 1025px) { }
