:host {
    align-self: flex-start;
    width: 100%;
}

:host([class="mss-button"]) {
    display: flex;
    height: 40px;
}

input {
    all: unset;
}

input {
    position: relative;
    text-align: start;
    color: var(--Summer-night, #0B1F33);
    font-family: 'Lato', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
}

:host([class="mss-button"]) input {
    font-size: 12px;
    align-self: center;
}

.datapicker {
    display: flex;
    position: relative;
    border-radius: 4px;
    background: var(--Input, #F5F7FA);
    padding: 14px 16px;
    box-sizing: border-box;
}

.icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 0;
    bottom: 0;
    margin: auto;
}

/*.datapicker::before {*/
/*    content: url('./icon.svg');*/
/*    position: absolute;*/
/*    right: 16px;*/
/*    top: 12px;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

.mss-button.datapicker {

}