:host {
   width: 100%;
   height: 52px;
   box-sizing: border-box;
   border-radius: 4px;
   padding: 14px 16px;
   align-items: center;
   position: relative;
   display: flex;
}


.dropdown__button:empty:before {
   content:attr(placeholder);
   color: gray;
}

:host(.mss-filter) .dropdown__button {
   overflow: hidden;
   color: var(--Summer-night, #0B1F33);
   text-overflow: ellipsis;
   white-space: nowrap;

   /* Plain Text */
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
}

:host(.container_limit) .dropdown__button {
   background: transparent;
   color: var(--Gosblue, #0D4CD3);
   text-align: center;
   font-family: 'Lato', serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 142.857%;
   width: min-content;
}

:host(.mss-filter) {
   width: 100%;
   max-width: 50%;
}

[class*="dropdown__input_hidden"] {
   display: none;
}

.dropdown {
   height: 100%;
   width: 100%;
}

[class*="dropdown__button"] {
   position: relative;
   display: flex;
   align-items: center;
   text-align: start;
}

.fer-titile {
   font-family: 'Lato', serif;
   font-style: normal;
   font-weight: 400;
   font-size: 0.57vw;
   line-height: 0.78vw;
   color: #6E8FB0;
   z-index: 1;
}

.dropdown__button {
   overflow: hidden;
   color: var(--Summer-night, #0B1F33);
   /* Plain Text */
   font-family: 'Lato', serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;

   max-height: 52px;
   -webkit-box-orient: vertical;
   display: block;
   display: -webkit-box;
   -webkit-line-clamp: 4;
   text-overflow: ellipsis;
   text-wrap: nowrap;
   padding-right: 42px;
}

.dropdown__wrapper {
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 8px;
   position: relative;
   padding-right: 16px;
   min-width: 24px;
}

:host(.container_limit) .dropdown__wrapper, :host(.mss-filter) .dropdown__wrapper {
   justify-content: flex-start;
}

:host(.container_limit) .dropdown__list-item, :host(.mss-filter) .dropdown__wrapper {
   padding: 0;
}

.dropdown_input {
   display: flex;
   position: relative;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   cursor: pointer;
   align-self: center;
   height: 100%;
   align-items: center;
   gap: 16px;
}

:host(.container_limit) .dropdown_input {
   width: 20px;
   height: 20px;
}

:host(.mss-filter) .dropdown_input {
   width: 100%;
   height: 100%;
}

.dropdown__button {
   /*height: 1.25vw;*/
   border: none;
   cursor: pointer;
   height: 100%;
}

.dropdown__button_arrow {
   width: 24px;
   height: 24px;
   min-height: 24px;
   min-width: 24px;
   align-self: center;
   cursor: pointer;
   transition: transform 200ms ease;
   transform: rotate(0);
   transform-origin: center;
   background-size: contain;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   right: -8px;
}

.dropdown__button_arrow svg {
   width: 100%;
   height: 100%;
}

:host(.container_limit) .dropdown__button_arrow {
   width: 16px;
   height: 16px;
   min-height: 16px;
   min-width: 16px;
}

.dropdown__button_active::after {
   transform-origin: center;
   transform: translateY(-50%) rotate(-180deg);
}

.dropdown__list {
   margin: 0;
   padding: 0;
   z-index: 2;
   opacity: 0;
   visibility: hidden;
   list-style-type: none;
   position: absolute;
   left: 0;
   top: 107%;
   box-shadow: 0px 0.47vw 0.94vw 0px #88919d4d;
   border: 0.05vw solid #e6eaed;
   border-radius: 0.21vw;
   background: #ffffff;
   overflow: hidden;
   width: 100%;
   transition: 200ms ease;
   overflow-y: auto;
   height: 0;
}

.dropdown__list_visible {
   opacity: 1;
   visibility: visible;
   height: auto;
   overflow-y: auto;
   max-height: 35dvh;
}


.dropdown__list_visible::-webkit-scrollbar {
   width: 0.31vw;
   height: 0.31vw;
}

.dropdown__list_visible::-webkit-scrollbar-thumb {
   border-radius: 1.04vw;
   background: #D9D9D9;
}

.dropdown__list_visible::-webkit-scrollbar-track {
   background: var(--neutral-white, #FFF);
}

[class*="dropdown__list-item"] {
   margin: 0;
   padding: 14px 16px;
   cursor: pointer;
   font-family: 'Lato', serif;
   color: var(--Summer-night, #0B1F33);
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   transition: 200ms ease;
   width: 100%;
   box-sizing: border-box;
   text-align: end;
}

[class*="dropdown__list-item_active"] {
   background: #f5f8fa;
}

[class*="dropdown__list-item"]:hover {
   background: #f5f8fa90;
}

[class*="dropdown__input_hidden"] {
   display: none;
}

.dropdown__arrow_active {
   transform-origin: center;
   transition: transform 200ms ease;
   transform: rotate(-180deg);
   /*right: 8px;*/
}

.bell {
   width: 24px;
   height: 24px;
}

.bell svg {
   width: 100%;
   height: 100%;
}

.name {
   align-self: center;
}

.user {
   color: var(--Gosblue, #0D4CD3);

   /* Plain Text */
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   display: flex;
   align-self: center;
   gap: 16px;
}

.icon {
   display: flex;
   flex-direction: column;
   border-radius: 50%;
   width: 36px;
   height: 36px;
   background: #9B3BE5;

   color: var(--White, #FFF);
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: 20px; /* 142.857% */
   justify-content: center;
}

.logout {
   color: var(--Gosblue, #0D4CD3);

   /* Plain Small */
   font-family: 'Lato', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 142.857% */

   border: none;
   margin: 0;
   padding: 0;
   width: auto;
   overflow: visible;

   background: transparent;

   /* Corrects font smoothing for webkit */
   -webkit-font-smoothing: inherit;
   -moz-osx-font-smoothing: inherit;

   /* Corrects inability to style clickable `input` types in iOS */
   -webkit-appearance: none;
   cursor: pointer;
}

&::-moz-focus-inner {
   border: 0;
   padding: 0;
}

.container {
   display: flex;
   align-items: normal;
   flex-direction: row;
   gap: 16px;
}

.iconLogout {
   width: 24px;
   height: 24px;
}

.iconLogout svg {
   width: 100%;
   height: 100%;
}

.logout {
   color: var(--Summer-night, #0B1F33);
   font-family: 'Lato', sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
}