.profile-menu-item__wrapper {
  width: 9.26327vw;
  height: 2.27519vw;
  display: flex;
  align-items: center;
  padding-left: 0.86674vw;
  cursor: pointer;
}

.profile-menu-item__title {
  font-family: 'Golos 14pt Medium 14x20';
  padding-left: 0.81257vw;
  margin: 0;
}
