.treeView li {
    list-style-type: none;
}

.treeView {
    height: -webkit-fill-available;
}

.isNotBranch {
    margin-left: 8px;
}

.isBranch {
    margin-left: 8px;
}

.spinnerWrapper {
	min-width: 20px;
	height: 20px;
}
