@import url('./normalize.css');

.service {
    display: inherit;
}

*::-webkit-scrollbar, :host(*::-webkit-scrollbar) {
    display: block;
    width: 0.4dvw;
}

*::-webkit-scrollbar-button, :host(*::-webkit-scrollbar-button) {
    display: none;
}

*::-webkit-scrollbar-track, :host(*::-webkit-scrollbar-track) {
    background-color: #00000000;
}

*::-webkit-scrollbar-track-piece, :host(*::-webkit-scrollbar-track-piece )  {
    background-color: #00000000;
}

*::-webkit-scrollbar-thumb, :host(*::-webkit-scrollbar-thumb ) {
    background-color: var(--black-10per);
    border-radius: 0.2vw;
    width: 1vw;
}

fer-region::-webkit-scrollbar {
    width: 0
}

fer-region::-webkit-scrollbar {
    display: none;
}

fer-region::-webkit-scrollbar {
    display: none;
}

.animation {
    display: none;
    grid-template-rows: repeat(10, auto);
    position: fixed;
    width: 100%;
    height: 100vh;
    opacity: 1;
    top: 0;
    left: 0;
    transition: display 1s, display 1s, opacity 1s;
    z-index: 100;
}

.animation > .item {
    height: 100vh;
    z-index: 0;
}

.fer__header {
    display: flex;
    flex-direction: row;
    gap: 0.99vw;
}

.page-forms {
    display: flex;
    gap: 0.99vw;
}

dialog {
    position: fixed;
    top: 50%;
}
