.backBtn {
  display: flex;
  // justify-content: center;
  align-items: center;
  height: 40px;
  // border: 1px solid var(--black-10per);
  // border-radius: 4px;
  font-size: 14px;
  color: var(--blue-100per);
  cursor: pointer;
  margin-top: 50px;
  text-decoration: none;
  svg {
    margin-right: 10px;
  }
}
