.termsMatching {
	display: flex;
	justify-content: space-between;
}

.textList {
	font-family: 'Golos 14pt Regular 14x20';
	font-style: normal;
	font-weight: 400;
	font-size: 0.7584vw;
	line-height: 1.08342vw;
	letter-spacing: -0.01em;
	padding: 0.05417vw 0;
	margin: 0;
}

.textList span {
	color: var(--red-100per);
	font-weight: bold;
}

.icon_wrapper {
	cursor: pointer;
}