@charset "utf-8";

.wrapper {
	position: relative;
	z-index: 50;
	cursor: pointer;
}

.wrapper:hover::before {
	position: absolute;
	width: 9.2091vw;
	height: 2.4377vw;
	content: 'Скопировать результат декодирования';
	top: -2.70856vw;
	left: -3.90033vw;
	font-family: 'Golos 14pt Regular 14x20';
	font-style: normal;
	font-weight: 400;
	font-size: 0.7584vw;
	line-height: 1.08342vw;
	/* or 150% */
	letter-spacing: -0.01em;

	background: var(--white-100per);
	box-shadow: 0px 0.10834vw 0.43337vw rgba(0, 31, 141, 0.14);
	border-radius: 0.43337vw;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
