.wrapper {
	width: 100%;
	display: flex;
	align-items: flex-start;
	padding-left: 0.86674vw;
	padding-bottom: 0.65005vw;
	flex-direction: column;
	cursor: pointer;
	box-sizing: border-box;
}

.diseaseTitle {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.diseaseTitleBlue {
	width: 100%;
	background: rgba(0, 153, 255, 0.1);
	border-radius: 0.21668vw;
	display: flex;
	justify-content: flex-start;
}

.wrapper:hover {
	background: var(--blue-10per);
}

.code {
	color: var(--black-100per);
	font-family: 'Golos 14pt Regular 14x20';
	font-style: normal;
	font-weight: 400;
	font-size: 0.7584vw;
	line-height: 1.08342vw;
	letter-spacing: -0.01em;
	margin-right: 0.48754vw;
	text-align: center;
	display: flex;
	align-items: flex-start;
}

.word {
	color: var(--black-100per);
	font-family: 'Golos 14pt Regular 14x20';
	font-style: normal;
	font-weight: 400;
	font-size: 0.7584vw;
	line-height: 1.08342vw;
	letter-spacing: -0.01em;
	/* margin-right: 9px; */
	width: 100%;
	display: inline-block;
	align-items: start;
}

.word span {
	color: var(--red-100per);
	font-weight: bold;
}
