.ul {
    padding-left: 0.86674vw;
}
.content {
    background: white;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0;
}

.toc {
    color: var(--black-100per);
    position: fixed;
}

.toc li {
    color: var(--black-100per);
    font-style: normal;
    font-weight: 600;
    font-size: 0.7584vw;
    line-height: 1.08342vw;
    margin: 0.43337vw 0;
}

.toc ul, .toc li {
    list-style-type: none;
}

.toc ul, .toc ul ul {
    padding-left: 1.08342vw;
}

.toc a, .toc ul a, .toc ul ul a {
    text-decoration: none;
}

.toc ul li {
    font-weight: 400;
    font-size: 0.65005vw;
    line-height: 0.97508vw;
    margin: 0 0 0.21668vw 0;
}

.tocContent {


}

