.wrapper {
	/* height: 300px; */
	margin-top: 0.65005vw;
}

.header {
	height: 2.16685vw;
	background-color: #FCF2E6;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 2.32936vw;
	padding-right: 1.95016vw;
}

.header__title {
	font-family: 'Golos 14pt DemiBold 14x20';
}

.deseasesList {
	height: 10.99675vw;
	overflow-y: auto;
	padding-left: 1.46262vw;
	font-family: 'Golos 11pt Regular 11x14';
	font-style: normal;
	font-weight: 400;
	font-size: 0.59588vw;
	line-height: 0.7584vw;
}
