.profile-menu__wrapper {
	width: 9.26327vw;
	padding: 0.43337vw 0 0.43337vw;
	background: #ffffff;
	box-shadow: 0px 0.10834vw 0.43337vw rgba(0, 31, 141, 0.14);
	border-radius: 0.43337vw;
  	position: absolute;
  	top: 1.89599vw;
  	right: 0.7584vw;
	z-index: 12;
}
