summary {
    margin-bottom: 12px;
    width: fit-content;
    width: -moz-fit-content;
    cursor: pointer;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
}

details {
    position: relative;
}

summary::-webkit-details-marker {
    background: #6d426d;
    vertical-align: middle;
}

details summary::-webkit-details-marker {
    vertical-align: middle;
    display: none
}
/* Убираем стандартный маркер Firefox */
details > summary {
    vertical-align: middle;
    list-style: none;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

/* Добавляем собственный маркер для закрытого состояния */
details summary:before {
    content: '▴';
    position: absolute;
    margin-right: 7px;
    top: -2px;
    left: -13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: var(--blue-50per);
}

/* Добавляем собственный маркер для открытого состояния */
details[open] summary:before {
    content: '▾';
    margin-right: 7px;
    position: absolute;
    top: 0;
    left: -16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: var(--blue-50per);
}

details[open] .first {
    display: none;
}

details[open] .second {
    display: flex;
}

details .first {
    display: flex;
}

details .second {
    display: none;
}