.input-search__wrapper {
	min-width: 22.53521vw;
	min-height: 2.8169vw;
	width: min(19.28494vw, 22.53521vw);
	height: 2.8169vw;
	display: inline-flex;
	border: 0.05417vw solid var(--black-10per);
	border-radius: 0.21668vw;
	padding: 0 0.86674vw;
	align-items: center;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
	outline: none;
}

.input-search {
	width: 100%;
	height: 1.30011vw;
	font-family: 'Golos 14pt Regular 14x20';
	font-weight: 400;
	letter-spacing: -0.01em;
	font-size: 0.7584vw;
	outline: none;
	border: none;
}

.input-search__icon {
	width: 0.81257vw;
	height: 0.81257vw;
	margin-right: 0.65005vw;
	order: -1;
}

.input-search::-moz-placeholder {
  font-family: 'Golos 14pt Regular 14x20';
  color: var(--black-35per);
}

.input-search::placeholder {
  font-family: 'Golos 14pt Regular 14x20';
  color: var(--black-35per);
}

.input-search__wrapper:hover {
	border: 0.05417vw solid var(--black-15per);
  outline: none;
	border-radius: 0.21668vw;
	cursor: pointer;
}

.input-search__wrapper:focus {
	border: 0.05417vw solid var(--blue-50per);
  outline: none;
	border-radius: 0.21668vw;
	cursor: text;
}

.input-search:hover,
.input-search:focus,
.input-search__wrapper:has(.input-search:focus) {
	cursor: text;
}

.input-search__wrapper:has(.input-search:focus) {
	border: 0.05417vw solid var(--blue-50per);
  outline: none;
	border-radius: 0.21668vw;
}

.input-search__wrapper.input-error {
	border: 0.05417vw solid var(--red-100per);
  outline: none;
	border-radius: 0.21668vw;
}

.input-search__signature-error {
  color: var(--red-100per);
	font-family: 'Golos 12pt Medium 12x18';
  font-size: 0.65005vw;
  font-weight: 500;
	margin-top: 0.27086vw;
}
