.input-search__wrapper-dis {
	display: inline-flex;
	border-radius: 0.21668vw;
	padding: 0.7584vw 0.86674vw;
	align-items: center;
	outline: none;
	background: var(--black-5per);
	box-sizing: border-box;
}

.input-search-dis {
	width: 19.33911vw;
	height: 1.30011vw;
	border: none;
	font-family: 'Golos 14pt Regular 14x20';
	font-weight: 400;
	letter-spacing: -0.01em;
	font-size: 0.7584vw;
	outline: none;
	background: var(--black-5per);
}

.input-search__icon-dis {
	width: 0.81257vw;
	height: 0.81257vw;
	margin-right: 0.65005vw;
	order: -1;
}

.input-search__icon-dis path{
	fill: var(--black-15per); 	
}
