.textarea-text__wrapper {
	/*min-width: 416px;*/
	/*min-height: 52px;*/
	width: 22.53521vw;
	height: 2.8169vw;
	display: inline-flex;
	border: 0.05417vw solid var(--black-10per);
	border-radius: 0.21668vw;
	padding: 0 0.86674vw;
	align-items: center;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
	outline: none;
	position: relative;
}

.textarea-text {
	width: 19.33911vw;
	height: 1.30011vw;
	font-family: 'Golos 14pt Regular 14x20';
	font-weight: 400;
	letter-spacing: -0.01em;
	font-size: 0.7584vw;
	outline: none;
	border: none;
	cursor: pointer;
}

.label-text {
	position: absolute;
	font-family: 'Golos 14pt Regular 14x20';
	font-weight: 400;
	letter-spacing: -0.01em;
	font-size: 0.7584vw;
	transition: all 0.2s ease;
	color: var(--black-35per);
}

.textarea-text::-moz-placeholder {
	font-family: 'Golos 14pt Regular 14x20';
	color: var(--black-35per);
}

.textarea-text::placeholder {
	font-family: 'Golos 14pt Regular 14x20';
	color: var(--black-35per);
}

.textarea-text__wrapper:hover {
	border: 0.05417vw solid var(--black-15per);
	outline: none;
	border-radius: 0.21668vw;
	cursor: pointer;
}

.textarea-text__wrapper:focus {
	border: 0.05417vw solid var(--blue-50per);
	outline: none;
	border-radius: 0.21668vw;
	cursor: text;
}

.textarea-text:hover,
.textarea-text:focus,
.textarea-text__wrapper:has(.textarea-text:focus) {
	cursor: text;
}

.textarea-text__wrapper:has(.textarea-text:focus) {
	border: 0.05417vw solid var(--blue-50per);
	outline: none;
	border-radius: 0.21668vw;
}

.textarea-text:focus + .textarea-text {
	transform: translateY(-0.81257vw);
	font-family: 'Golos 11pt Regular 11x14';
	font-weight: 400;
	font-size: 0.59588vw;
}

.textarea-text:not(:-moz-placeholder-shown) + .textarea-text {
	transform: translateY(-0.81257vw);
	font-family: 'Golos 11pt Regular 11x14';
	font-weight: 400;
	font-size: 0.59588vw;
}

.textarea-text:not(:placeholder-shown) + .textarea-text {
	transform: translateY(-0.81257vw);
	font-family: 'Golos 11pt Regular 11x14';
	font-weight: 400;
	font-size: 0.59588vw;
}

.textarea-text__wrapper.textarea-error {
	border: 0.05417vw solid var(--red-100per);
	outline: none;
	border-radius: 0.21668vw;
	position: relative;
}
.textarea-text__wrapper.textarea-error::after {
	content: 'Это значение некорректно';
	color: var(--red-100per);
	font-family: 'Golos 12pt Medium 12x18';
	font-size: 0.65005vw;
	font-weight: 500;
	margin-top: 0.27086vw;
	position: absolute;
	bottom: -1.08342vw;
	left: -0.05417vw;
}

.textarea-text__signature-error {
	color: var(--red-100per);
	font-family: 'Golos 12pt Medium 12x18';
	font-size: 0.65005vw;
	font-weight: 500;
	margin-top: 0.27086vw;
}
