.dropdown__container {
  position: relative;
  border: 1px solid #dcdfe5;
  padding: 10px 22px;
  width: fit-content;

  &.disabled {
    background: #ddd;
    pointer-events: none;
    cursor: no-drop;
  }

  .dropdown__btn {
    all: unset;
    cursor: pointer;
    color: var(--blue-100per);
    font-size: 14px;
    white-space: nowrap;
  }

  .dropdown__btn svg {
    display: inline-block;
    width: 12px;
    height: 8px;
    object-fit: cover;
    margin-left: 10px;
  }

  .dropdown__content {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-20px);
    transition: 0.23s linear;
    border: 1px solid #dedede;
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 16px;
    min-width: 150px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 0;
    transform: translateY(-5px);
    z-index: 999;
  }

  .dropdown__content.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }

  .dropdown__info button {
    all: unset;
  }

  .dropdown__info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown__info ul li {
    padding: 10px;
    border-bottom: 1px solid #e9edff;
    font-size: 14px;
    white-space: nowrap;
    & a {
      text-decoration: none;
    }
  }

  .dropdown__info ul li:last-child {
    border: none;
  }
}
