.exclusionFromAboveLevels_continer, .codingNoteFromAboveLevels_title, .codingNoteFromAboveLevels_content {
    padding: 0 0.43337vw;
}

.codingNoteFromAboveLevels_title {
    margin: 0;
}

.unspecified {
    color: var(--red-text-100per);
    padding: 0 0.43337vw;
}

.codingNoteFromAboveLevels_continer {
    background: var(--blue-5per);
}

.arrow-img__wrapper {
    cursor: pointer;
}
.subTitlePage {
padding-left: 0.48754vw;
}

.copyButton {
    display: flex;
    flex-direction: row;
    gap: 0.43337vw;
    align-items: center;
}

.copyCode {
    font-style: normal;
    font-weight: 500;
    font-size: 0.65005vw;
    line-height: 0.97508vw;
    letter-spacing: -0.004em;
    color: var(--blue-100per);
}

.text {
    font-family: 'Golos 14pt Medium 14x20';
    color: var(--blue-100per);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7584vw;
    line-height: 1.30011vw;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    cursor: pointer;
}

.arrow-img__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotateArrow_FromAboveLevels {
    width: 0.86674vw;
    height: 0.86674vw;
    transition: 0.25s linear;
    cursor: pointer;
    transform: rotate(270deg);
}

.rotateArrow {
    width: 1.30011vw;
    height: 1.30011vw;
    transition: 0.25s linear;
    cursor: pointer;
}

.rotateArrowActive_FromAboveLevels {
    transform: rotate(90deg);
    transition: 0.25s linear;
}

.rotateArrowActive {
    transform: rotate(180deg);
    transition: 0.25s linear;
}

.selectListWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.exclusionFromAboveLevels {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.43337vw;
    margin: 0.65005vw 0;
}

.exclusionFromAboveLevels__title {
    font-style: normal;
    font-weight: 600;
    font-size: 0.97508vw;
    line-height: 1.30011vw;
    letter-spacing: -0;
    color: var(--black-100per);
}

.exclusionFromAboveLevels__button {
    margin-left: 0.43337vw;
}

.banner {
    margin: 0.54171vw;
}

.container {
    display: flex;
    flex-direction: row;
    background: var(--blue-5per);
    height: 100%;
    box-sizing: border-box;
    padding: 1.08342vw 3.46696vw;
    gap: 1.08342vw;
    position: relative;
}

.container_ancestor {
    margin-bottom: 0.65005vw;
    padding: 0 2.8169vw;
    cursor: pointer;
}

.ancesorContainer {
    display: flex;
    flex-direction: column;
    background: var(--Main_Main_ancesor-container_blue-5per);
}

.container_parent {
    margin-top: 0;
    margin-bottom: 0.43337vw;
    padding: 0 0.43337vw;
}

.aside {
    width: min(27.30228vw, 27.30228vw);
}

.searchWrapper {
    width: 100% !important;
    margin-bottom: 0.65005vw;
}

.searchInput {
    width: 100% !important;
}

.content {
    background: var(--Main_Main_content);
    flex-grow: 1;
    box-sizing: border-box;
    padding: 1.08342vw 1.95016vw;
    min-height: 62.5vh;
}

.search {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.46262vw;
}

.advancedSearch {
    align-self: end;
    cursor: pointer;
    font-size: 0.59588vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.90033vw;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.73348vw;
}

.title_ancessor {
    font-style: normal;
    font-weight: 400;
    font-size: 0.59588vw;
    line-height: 0.7584vw;
    color: var(--black-100per);
    padding: 0 0.43337vw;
    align-self: end;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.43337vw;
}

.titleHeader, .title {
    font-weight: 600;
    font-size: 0.97508vw;
}

.icon {
    cursor: pointer;
}

.dialog {
    position: absolute;
    width: 27.51896vw;
    height: 27.51896vw;
    box-shadow: 0px 0.27086vw 1.30011vw rgba(148, 152, 170, 0.48);
    border-radius: 0.21668vw;
    background: white;
    left: -31.41928vw;
    top: 6.98808vw;
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}

.searchContainer {
   padding: 1.30011vw 1.73348vw;
}

.searchEnhance {
    display: flex;
    align-items: center;
    gap: 0.97508vw;
    flex-direction: row;
}

.searchWarning {
    font-weight: 400;
    font-size: 0.7584vw;
    margin-bottom: 0.65005vw;
}

.searchButton {
    display: flex;
    align-items: center;
    gap: 1.30011vw;
    flex-direction: row-reverse;
    margin-bottom: 1.08342vw;
}

.searchItem {
  color: var(--blue-50per);
  cursor: pointer;
}

.searchWrapper {
  margin-bottom: 0.65005vw;
}

.SearchFilter {
    display: flex;
    flex-direction: row;
    gap: 0.7584vw;
}

.Check {
    background: var(--blue-50per);
    border-radius: 0.21668vw;
    height: 1.08342vw;
    width: 1.08342vw;
}

.not-checked-item svg {
    opacity: 0;
}

.Check.disable {
  border: 0.10834vw solid var(--black-15per);
}

.listFilter {
    display: flex;
    flex-direction: column;
    gap: 0.86674vw;
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 0.65005vw;
    cursor: pointer;
}

.searchResultWrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1.73348vw;
}

.searchResult {
    width: 6.66306vw;
    height: 2.16685vw;
    min-width: 6.66306vw;
    min-height: 2.16685vw;
    padding: 0 1.24594vw 0 1.24594vw;
    background: var(--white-100per);
    border: 0.05417vw solid var(--black-10per);
    border-radius: 0.21668vw;
    font-family: 'Golos 14pt Medium 14x20';
    font-size: 0.7584vw;
    color: var(--blue-100per);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    margin-top: 0.86674vw;
    cursor: pointer;
}

.crossHelp {
    cursor: pointer;
}

.uri, .uri_coding {
    gap: 0.43337vw;
    display: flex;
    justify-content: flex-start;
    font-size: 0.59588vw;
    margin-bottom: 1.08342vw;
    padding: 0 0.43337vw;
}

.containerTitle_coding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.05417vw solid var(--black-10per);
    box-sizing: border-box;
    padding-bottom: 0.65005vw;
}

.titlePage, .titlePage_coding {
    display: flex;
    color: var(--black-100per);
    font-style: normal;
    font-weight: 600;
    font-size: 1.30011vw;
    line-height: 1.73348vw;
    padding: 0 0.43337vw;
    margin-bottom: 0.65005vw;
    box-sizing: border-box;
}

.titlePage_coding {
    margin-bottom: 0;
    cursor: pointer;
}

.uri_coding {
    text-align: end;
    justify-content: end;
    margin: 1.08342vw 0;
}

.p, .longDefinition_p {
    margin-bottom: 1.08342vw;
    margin-top: 0.43337vw;
    font-weight: 400;
    font-size: 0.7584vw;
    line-height: 1.08342vw;
}

.longDefinition {
    padding: 0 0.43337vw;
}

.longDefinition_h2 {
    color: #df7030;
}

.longDefinition_p {
    white-space: break-spaces;
    padding-left: 2.60022vw;
}

.link {
    display: flex;
    color: var(--blue-50per);
    margin-bottom: 0;
    text-decoration: none;
    margin-left: 0.10834vw;
    cursor: pointer;
}

.link_exclusion {
    gap: 0.21668vw;
    margin-left: 0.10834vw;
}

.link_from {
    display: flex;
    gap: 0.10834vw;
    margin: 0;
}

.link_inclusion {
    color: var(--blue-50per);
    margin: 0;
}

.highlight {
    font-weight: bold;
    margin-right: 0.43337vw;
}

.ul {
    padding-left: 2.16685vw;
    margin-bottom: 0;
    margin-top: 0.21668vw;
    list-style-type: disc;
}

.li {
    display: flex;
    font-weight: 400;
    font-size: 0.7584vw;
    margin-bottom: 0.21668vw;
}

.li_inclusion {
    margin-left: 0.92091vw;
}

.checked-item {

}

.not-checked-item {

}

.uri {
    font-size: 0.59588vw;
}

.uri > a {
    background-color: transparent;
    padding-left: 0.21668vw;
}

.parentTitle {
    font-weight: 600;
    font-size: 1.30011vw;
    line-height: 1.73348vw;
    margin-top: 1.08342vw;
    margin-bottom: 1.08342vw;
}

.parent {

    font-weight: 600;
    font-size: 0.97508vw;
    line-height: 1.30011vw;
    margin-bottom: 0.43337vw;
}

.info {
    color: var(--blue-100per);
    font-weight: 400;
    font-size: 0.7584vw;
    margin-bottom: 1.30011vw;
}

.inclusions, .codingNote {
    margin-top: 1.08342vw;
}

.codingNote {
    background: var(--blue-5per);
    height: 1.30011vw;
    margin-bottom: 0.65005vw;
}

.codingNote_title {
    padding: 0 0.43337vw;
    margin: 0;
}

.codingNote_data {
    padding-left: 0.43337vw;
    font-weight: 400;
    font-size: 0.7584vw;
    margin-bottom: 0.21668vw;
    cursor: pointer;
}

.exclusionsFromAboveLevels_result {
    display: flex;
}

.exclusionsFromAboveLevels_title {
    display: flex;
    font-weight: 400;
    font-size: 0.7584vw;
    margin-bottom: 0.21668vw;
    cursor: pointer;
}

.inclusionsLi {
    margin-left: 0.97508vw;
}

.inclusionsTitle {
    margin-bottom: 0.43337vw;
}

.level_1 {
    margin-left: 0.86674vw;;
}

.level_2 {
    margin-left: 0.65005vw;
}

.level_3 {
    margin-left: 0.65005vw;
}

.level_4 {
    margin-left: 0.65005vw;
}

.level_1, .level_2, .level_3, .level_4  {
    font-style: normal;
    font-weight: 400;
    font-size: 0.59588vw;
}

.summary {
    margin-bottom: 0.21668vw;
    width: inherit;
    width: -moz-fit-content;
    cursor: pointer;
    margin-left: 2.92524vw;
}

.summary::-webkit-details-marker {
   /*background: #6d426d;*/
}

.ul_inclusion {
    margin-top: 0.21668vw;
    list-style-type: disc;
}

.editorItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.97508vw;
}

.editorButton {
    cursor: pointer;
    height: 1.30011vw;
}

.editorDescription {
    color: var(--blue-100per);
    font-size: 0.65005vw;
}

.inclusions {
    padding: 0 0.43337vw;
}

.postCoordinationHelp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.97508vw;
    padding: 0 0.65005vw 0 0.43337vw;
    border-radius: 0.21668vw;
    height: 1.30011vw;
    background: var(--Main_Main_postcoordination-help_blue-20per);
    margin : 0.65005vw 0 0 0;
}

.postCoordinationHelp h2 {
    margin: 0;
}

.postCoordinationIcon {
    height: 1.19177vw;
    cursor: pointer;
}

.postCoordination {

}

.postCoordinationData {
    display: flex;
    flex-direction: column;
    font-size: 0.7584vw;
    margin-bottom: 1.08342vw;
    margin-top: 1.08342vw;
}

.postCoordinationName {
    width: fit-content;
    width: -moz-fit-content;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 0.43337vw;
    box-sizing: border-box;
}

.postCoordinationName_title {
    width: 47%;
    /*width: max-content;*/
    height: -moz-fit-content;
    height: fit-content;;
}

.description {
    padding: 0 0.43337vw;
}

.postCoordinationCode {
    display: flex;
    font-size: 0.7584vw;
    flex-direction: column;
    margin-left: 2.92524vw;
}

.postCoordinationCode {
    display: flex;
    flex-direction: column;
}

.postCoordinationCodeData, .postCoordinationCodeÐ¡onnection {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.65005vw;
}

.postCoordinationCodeTitleSecond {
    color: var(--blue-100per);
    font-weight: 500;
    font-size: 0.7584vw;
    margin-top: 0.43337vw;
    /*margin-bottom: 12px;*/
    position: relative;
    margin-left: 4.11701vw;
}

.postCoordinationCodeTitleSecond::after {
    content: "";
    position: absolute;
    width: 1.40845vw;
    height: 100%;
    left: -1.73348vw;
    top: -0.43337vw;
    border-left: 0.05417vw solid var(--black-10per);
    border-bottom: 0.05417vw solid var(--black-10per);
}

.postCoordinationCodeTitle {
    color: var(--blue-100per);
    font-weight: 500;
    font-size: 0.7584vw;
    margin-top: 0.43337vw;
    position: relative;
    margin-left: 0;
}

.postCoordinationCodeTitle::after {
    content: "";
    position: absolute;
    width: 1.40845vw;
    height: 100%;
    left: -1.95016vw;
    top: -0.43337vw;
    border-left: 0.05417vw solid var(--black-10per);
    border-bottom: 0.05417vw solid var(--black-10per);
}

.editorItem {
    display: flex;
    flex-direction: column;
}

.editorButton {
    cursor: pointer;
    height: 1.30011vw;
}

.editorDescription {
    color: var(--blue-100per);
    font-size: 0.65005vw;
}

.itemAxisData {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.43337vw 0 0.43337vw 0;
    gap: 0.97508vw;
}

.itemAxisWarning {
    color: red;
    padding: 0.43337vw 0 0 0;
}

.postCoordinationCodeItem {
    position: relative;
    margin-left: 1.30011vw;
}

.postCoordinationCodeItemActive::after {
    content: "";
    position: absolute;
    width: 1.40845vw;
    height: calc(100% + 2.00433vw);
    left: -3.25027vw;
    top: -0.97508vw;
    border-left: 0.05417vw solid var(--black-10per);
}

.postCoordinationCodeItemActiveSecond::after {
    content: "";
    position: absolute;
    width: 1.40845vw;
    height: calc(100% + 2.00433vw);
    left: 1.08342vw;
    top: -1.19177vw;
    border-left: 0.05417vw solid var(--black-10per);
}

.postCoordinationIcon {
    height: 1.08342vw;
    width: 1.08342vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.treeContainer_wrapper {
    box-sizing: border-box;
}

.editor__container {
    margin-left: 2.27519vw;
}

.exclusion, .foundationChildElsewhere {
    padding: 0 0.43337vw;
}

.postCoordinationButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.tooltip-container {
    background: red;
}

.defaultContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0.43337vw;
}

.defaultContainer h3, .defaultContainer h4, .defaultContainer p  {
    margin: 0.43337vw 0!important;
}

.defaultContainer .defaultLabel {
    margin-bottom: 0!important;
}

.defaultUl {
    box-sizing: border-box;
    padding-left: 2.49187vw;
    margin-top: 0;
}

.defaultTable {
    grid-gap: 0.05417vw;
    background-color: var(--black-40per);
    border: 0.05417vw solid var(--black-40per);
    border-bottom: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(18,auto);
    margin-top: 0.43337vw;
}

.defaultTable div {
    text-align: start!important;
}

.defaultTableGap  div {
    width: 22.04767vw;
    margin: auto;
    text-align: center!important;
}

.defaultTable > div {
    background-color: var(--Main_Main_default-table);
    padding: 0.81257vw;
    text-align: center;
}

.defaultTableGap {
    grid-column: span 2;
}
.defaultBold {
    font-weight: bold;
}

.defaultTable .defaultTableHeader {
    text-align: center!important;
    background: var(--Main_Main_default-table-header_blue-40per);
}

@media only all and (max-width: 767px) {
    .uri > a {
        font-size: 0.54171vw;
    }

    .content {
        padding: 0.43337vw 0;
    }

    .titlePage {
        font-size: 0.65005vw;
    }

    .postCoordinationName {
        word-break: break-word;
        max-width: 100%;
    }

    .postCoordinationCodeItemActive::after {
        height: calc(100% + 4.98375vw);
        top: -4.98375vw;
    }

    .postCoordinationCode {
        margin-left: 2.60022vw;
    }

    .editor__container {
        margin-left: 0;
    }

    .postCoordinationCodeItemActiveSecond::after {
        content: "";
        position: absolute;
        width: 1.40845vw;
        height: calc(100% + 4.98375vw);
        left: 2.8169vw;
        top: -4.98375vw;
        border-left: 0.05417vw solid var(--black-10per);
    }

    .banner {
        margin: 0.43337vw;
    }
}

@media all and (min-width: 768px) and (max-width: 1368px) {
    .content {
        padding: 1.08342vw 0.43337vw;
    }

    .titlePage {
        font-size: 1.08342vw;
    }

    .postCoordinationCodeItemActiveSecond::after {
        top: -2.00433vw;
    }

    .postCoordinationCodeItemActive::after {
        top: -2.00433vw;
    }
}

@media all and (min-width: 1025px) { }
