.container {
  padding: 1.08342vw;
  border-radius: 0.43337vw;
  border: 0.05417vw dashed var(--black-15per);
  background: var(--red-10per);
}

.emptyList {
  font-style: italic;
}

.item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.54171vw;
}

.item:last-child {
  margin-bottom: 0;
}

.item .title {
  font-family: 'Golos 12pt Medium 12x18';
  line-height: 1.08342vw;
  color: var(--black-100per);
}

.item .status {
  font-family: 'Golos 12pt Medium 12x18';
  font-weight: 400;
  font-size: 0.65005vw;
  line-height: 0.97508vw;
	color: var(--black-35per);
}

.actions {
  display: flex;
  font-family: 'Golos 12pt Medium 12x18';
  font-size: 0.65005vw;
  font-weight: 500;
  line-height: 0.97508vw;
}

.actions > div {
  cursor: pointer;
}

.actions .reason {
  color: var(--blue-100per);
}
.actions .delete {
  color: var(--red-100per);
}

.actions > div:not(:last-child) {
  margin-right: 0.86674vw;
}
