.modal {
	/* position: relative; */
	position: absolute;
	z-index: 15;
	width: 39.11159vw;
	/* height: 488px; */
	background: var(--white-100per);
	opacity: 1;
	/* top: 0;
	left: 0; */
	top: 1.73348vw;
	left: -36.29469vw;
	box-shadow: 0px 0.10834vw 0.43337vw rgba(0, 31, 141, 0.14);
	border-radius: 0.21668vw;

}

.header {
	height: 4.60455vw;
	display: flex;
	justify-content: space-between;
	box-shadow: inset 0px -0.05417vw 0px #EAEAEF;
	border-radius: 0.21668vw 0.21668vw 0px 0px;
}

.title {
	padding: 1.08342vw 0 0 0;
	
}

.textTitle {
	margin: 0;
	padding-left: 1.73348vw;
	/* font-family: 'Golos H4 DemiBold 18x24'; */
	font-style: normal;
	font-weight: 600;
	font-size: 0.97508vw;
	line-height: 1.30011vw;
	letter-spacing: -0.01em;
}

.textHeader {
	font-family: 'Golos 14pt Regular 14x20';
	font-style: normal;
	font-weight: 600;
	font-size: 0.7584vw;
	line-height: 1.08342vw;
	letter-spacing: -0.01em;
	padding: 0.48754vw 0 0 1.73348vw;
	margin: 0;
}

.close {
	margin: 1.40845vw 1.62514vw 0 0;
}

.list {
	max-height: 8.88407vw;
	background: var(--black-5per);
	padding: 0.65005vw 1.73348vw;
}

.textList {
	font-family: 'Golos 14pt Regular 14x20';
	font-style: normal;
	font-weight: 400;
	font-size: 0.7584vw;
	line-height: 1.08342vw;
	letter-spacing: -0.01em;
	padding: 0.05417vw 0;
	margin: 0;
}

.links {
	height: 9.53413vw;
	box-shadow: inset 0px -0.05417vw 0px #EAEAEF;
border-radius: 0.21668vw 0.21668vw 0px 0px;
}
.textLink {
	font-family: 'Golos 12pt Regular 12x18';
	font-style: normal;
	font-weight: 400;
	font-size: 0.65005vw;
	line-height: 0.97508vw;
	letter-spacing: -0.004em;
	padding: 0 0 0 1.73348vw;
	margin: 0;

}

.hierarchy {
	height: 3.46696vw;
	display: flex;
	justify-content: flex-end;
}

.hierarchyLink {
	font-family: 'Golos 14pt Medium 14x20';
font-style: normal;
font-weight: 500;
font-size: 0.7584vw;
line-height: 1.08342vw;
letter-spacing: -0.01em;
color: var(--blue-100per);
padding-right: 3.90033vw;
padding-top: 0.70423vw;
}
