:host {

}

p {
    margin: 0;
}

.link-plain {
    color: var(--Gosblue, #0D4CD3);
    font-family: Lato, serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    cursor: pointer;
}

.link-plain:hover {
    color: black;
}

:host([disabled]) .rules-relation_container {
    opacity: 0.5;
}

:host(.active) .rules-relation_container {
    opacity: 1!important;
}

:host(.active) p {
    color: black;
}