.check__wrapper-img {
	width: 1.08342vw;
	height: 1.08342vw;
	background: var(--blue-50per);
	border-radius: 0.21668vw;
	display: flex;
	justify-content: center;
	align-items: center;
  margin: 0.10834vw;
}
