:host {
    --speedAnimationImageTop: 1500;
    --speedAnimationImageBottom: 2000;
    --speedAnimationContent: 2000;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100dvh;
}

.data__fer-rules {
    display: flex;
    flex-direction: revert;
    gap: 1.25vw;
}

.images {
    position: absolute;
    padding: 0;
    width: 100%;
    height: auto;
    min-width: 100%;
}

[class*="body"] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
}

[class*="container__rules-front"] {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    gap: 0.94vw;
}

[class*="--flex-grow_1"] {
    flex-grow: 1;
    overflow: hidden;
}

[class*="--width_20dvw"] {
    width: 33dvw!important;
}

[class*="main__fer-rules"] {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 44.38vw;
    min-width: 44.38vw;
    gap: 1.25vw;
}

[class*="--height_852px"] {
    height: 83.4dvh!important
}

.textEditor {
    height: 100%;
}

[class*="textEditor-sidebar"] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: overlay;
}

[class*="container"] {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.04vw;
    overflow: overlay;
}

[class*="container"]::-webkit-scrollbar  {
    display: none;
}


[class*="textEditor-sidebar"]::-webkit-scrollbar  {
    display: none;
}

::-webkit-scrollbar {
    width: 0.31vw;
    height: 2.86vw;
}

::-webkit-scrollbar-thumb {
    border-radius: 1.04vw;
    background: #D9D9D9;
}

::-webkit-scrollbar-track {
    background: var(--neutral-white, #FFF);
}

/*[class*="container"]::-webkit-scrollbar {*/
/*    width: 0.31vw;*/
/*    height: 2.86vw;*/
/*}*/
/**/
/*[class*="container"]::-webkit-scrollbar-thumb {*/
/*    border-radius: 1.04vw;*/
/*    background: #D9D9D9;*/
/*}*/
/**/
/*[class*="container"]::-webkit-scrollbar-track {*/
/*    background: var(--neutral-white, #FFF);*/
/*}*/

[class*="wrapper__button-fer-rules"] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    gap: 0.94vw;
}

[class*="title__fer-rules"] {
    position: sticky;
    top: 0;
    padding: 0.83vw 0 0.63vw 0;
    font-family: 'Inter',serif;
    color: var(--neutral-l-grey, #6E8FB0);
    font-size: 0.63vw;
    font-style: normal;
    font-weight: 400;
    line-height: 0.83vw; /* 133.333% */
    z-index: 10;
    background: var(--neutral-silver, #F5F7FA);
}

[class*="wrapper__rules-front"] {
    display: flex;
    flex-direction: column;
    gap: 0.68vw;
    flex-grow: 1;
}

[class*="validator__rules-front"] {
    width: 100%;
    height: 31dvh;
    padding: 0 0.83vw 0.42vw 0.83vw;
    border-radius: 0.21vw;
    background: var(--neutral-silver, #F5F7FA);
    overflow: overlay;
    box-sizing: border-box;
}

[class*="--resize_vertical"] {
    resize: vertical;
}

[class*="--resize_none"] {
    resize: none!important;
}

[class*="--flex-direction_row"] {
    flex-direction: row;
}

[class*="--gap_24px"] {
    gap: 1.25vw;
}

[class*="--gap_20px"] {
    gap: 1.25vw;
}

[class*="conteiner__fer-manifest"] {
    display: flex;
    flex-direction: column;
    transition: height 0.2s, visibility 0s, opacity 0.5s linear;
    gap: 2.08vw;
    margin-bottom: 1.25vw;
}

[class*="manifest-button__add"] {
    align-self: end;
    margin-right: 6.2vw;
}

[class*="--justify-content_space-between"] {
    justify-content: space-between;
}

[class*="--justify-content_flex-start"] {
    justify-content: flex-start;
}

[class*="--margin-right_6.20833vw"] {
    margin-right: 6.2vw!important;
}

[class*="welcome-menu_0_0"] {
    height: -moz-min-content;
    height: min-content;
}

[class*="navigation"] {
    display: flex;
    height: 1.46vw;
}

[class*="menu__fer-rules"] {
    display: flex;
    align-self: end;
    gap: 0.94vw;
}

[class*="table__fer-rules"] {
    display: flex;
    flex-direction: column;
    gap: 0.57vw;
}

[class*="--flex-direction_column"] {
    flex-direction: column;
}

[class*="title__rules_manifest"] {
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 600;
    font-size: 0.94vw;
    line-height: 1.35vw;
    color: #333333;
}
/*///////////////////////////////////*/
p {
    font-family: "Raleway", serif;
    font-size: 1.14583rem;
    font-weight: 700;
    line-height: 1.5625rem;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 6.25rem;
    line-height: 7.34375rem;
    text-transform: uppercase;
    margin: 0;
}

.cifromed p {
    text-align: center;
}

.welcome-finale {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 0;
    background: transparent;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.content-final {
    margin-bottom: 12.55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-h2 {
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5625rem;
    line-height: 1.875rem;
    text-transform: uppercase;
}

.final-p {
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.14583rem;
    line-height: 1.5625rem;
    width: 40.42vw;
}

.final-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 39.06vw;
    font-family: "Raleway", serif;
    font-size: 0.72917rem;
    font-weight: 500;
    line-height: 0.89vw;
    letter-spacing: 0;
    text-align: left;
    text-transform: uppercase;
    cursor: pointer;
}



.teaser-finale {
    display: flex;
    flex-direction: column;
}

/*.teaser {*/
/*	position: relative;*/
/*	display: grid;*/
/*	grid-template-rows: 100%;*/
/**/
/*}*/

.teaser, .content, .teaser .first-page {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    height: 100%;
    min-height: 100%;
}

.content {
    justify-content: center;
}

.first-page {
    height: 100%;
}

.textAlign-left {
    text-align: left!important;
}

.width-649 {
    width: 83%!important;
    align-self: start;
    justify-content: flex-start!important;
}



img, .parallax img, img {
    width: 100%;
    min-width: 100%;
    /*min-width: 100vw;*/
}

/*.parallax > img {*/
/*	mix-blend-mode: multiply;*/
/*}*/

.first-page {
    /*background: #00bb00;*/
}

.fer-scroll {
    height: 2.6vw;
    width: 3.13vw;
    position: absolute;
    align-self: center;
    bottom: 2.24vw;
}

.description {
    --offset: 0;
    transform: translateY(var(--offset));
}

.description {
    position: relative;
    /*-webkit-backdrop-filter: blur(8px);*/
    /*        backdrop-filter: blur(8px);*/
    /*background: rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    align-self: center;
    height: 100%;
    justify-content: center;
    padding: 0 2.14vw;
    box-sizing: border-box;
}

.description::before {
    /*background-color: rgb(166, 36, 36);*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-backdrop-filter: blur(0.42vw);
    backdrop-filter: blur(0.42vw);
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0.42vw 0.94vw -0.31vw rgba(24, 39, 75, 0.12);
}

section[class*="section_children"] {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    top: 100%;
    left: 0;
    width: 100%;
    transition: width 1s, opacity 1s, height 1s, background-color 1s, transform 1s;
}

div[class*="description-without-background"] {
    position: relative;
    /*-webkit-backdrop-filter: blur(8px);*/
    /*        backdrop-filter: blur(8px);*/
    /*background: rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49.01vw;
    align-self: center;
    height: 100%;
    justify-content: center;
    padding: 0 2.14vw;
    box-sizing: border-box;

    background: unset;
    box-shadow: unset;
    -webkit-backdrop-filter: unset;
    backdrop-filter: unset;
    position: relative;
}

div[class*="background-item-1"] {
    padding: 0;
    width: 28.5rem;
}

div[class*="background-item-2"] {
    padding: 0;
    width: 28.5rem;
}

div[class*="background-item-3"] {
    padding: 0;
    width: 28.5rem;
    align-self: center;
}

div[class*="background-item-4"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    width: 36.2vw;
    align-self: end;
    margin: 4.03125rem 9.63542rem 0 0;
}
.description-without-background-resources {
    width: 68.02vw;
}

.description-title {
    font-family: "Raleway", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.45833rem;
    text-transform: uppercase;
    margin-bottom: 0.52vw;
}

.title-item_0 {
    font-family: 'Raleway', serif;
    font-style: normal;
    line-height: 1.45833rem;
    font-size: 1.5625rem;
    font-weight: 800;
    margin-bottom: 1.46vw;
    padding-top: 3.6rem;
}

.image-scale {
    /*background: red;*/
    max-width: -moz-max-content;
    max-width: max-content;
    min-width: 100%;
    height: 100%;
}


.description-text {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.14583rem;
    line-height: 1.5625rem;
    /*text-align: left;*/
    margin-bottom: 0.63vw;
}

.description-text-width {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.14583rem;
    line-height: 1.5625rem;
    /*text-align: left;*/
    margin-bottom: 0.63vw;
    width: 95%;
}

.description-text-width-2 {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.14583rem;
    line-height: 1.5625rem;
    /*text-align: left;*/
    margin-bottom: 0.63vw;
    width: 70%;
}

.description-text-margin-unset {
    margin-bottom: unset;
}

.description-content {
    text-align: center;
}

.description-content-end, .description-content-end-last {
    font-family: 'Raleway', serif;
    margin-top: 1.25vw;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
}

.end-font-style {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.45833rem;
    margin-top: 1.35vw;
}

.end-font-style-general {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.45833rem;
    text-transform: uppercase;
}

.end-font-style-general-name {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.14583rem;
    line-height: 1.45833rem;
    margin: 0.42vw 0 0;
}

.description-content-end-last {
    margin: 0;
}

.description-page, description-page-section-2 {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.16667rem;
    line-height: 4.89583rem;
    text-transform: uppercase;
    position: relative;
    text-align: left;
    width: 100%;
}

.description-page-section-2 {
    width: inherit;
    align-self: flex-start;
    position: relative;
}

ul[class*="description-ul"] {
    position: absolute;
    font-family: Raleway, serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.73vw;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.45833rem;
    top: 58%;
    left: 118%;
    width: 19.06vw;
    padding-left: 0;
    margin: 0;

}

ul[class*="description-ul"] li {
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
}

ul[class*="description-ul"] li::marker {
    color: white;
}

ul[class*="description-ul"] li:hover {
    color: white;
    transition: color 0.25s linear;
}

ul[class*="ul-1"] {
    margin-left: 0;
}

ul[class*="ul-2"] {
    width: inherit;
    /*left: 96%;*/
}

ul[class*="ul-3"] {
    width: 23.96vw;
    /*left: 63%;*/
}


.opacity {
    position: absolute;
}


.description-ul-resources {
    right: -9.11vw;
}

.description-about-compeny, .description-about-resources {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.16667rem;
    line-height: 4.89583rem;
    text-transform: uppercase;
}

.description-about-resources {
    width: 49rem;
    text-align: left;
    align-self: flex-start;
    margin-bottom: 12rem;
}

.description-about-resources-4 {
    margin: 0 0 0 -14%;
}

.description-without-background-thanks {
    align-self: flex-end;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5625rem;
    line-height: 1.82292rem;
    text-align: right;
    text-transform: uppercase;

    position: absolute;
    width: 33.59vw;
    height: 13.33vw;
    left: 52.97vw;
    top: 11.41vw;
}

.description-page-content-item-4 {
    padding: 1.51vw 1.3vw;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0.42vw 0.94vw -0.31vw rgba(24, 39, 75, 0.12);
    -webkit-backdrop-filter: blur(0.42vw);
    backdrop-filter: blur(0.42vw);
}

.description-text-item-4 {
    font-size: 1.30208rem;
}

.text-1 {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.5625rem;
    line-height: 1.82292rem;
    text-align: right;
    text-transform: uppercase;
}

.text-2 {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.04167rem;
    line-height: 1.82292rem;
    text-align: right;
}

ul > li {
    text-transform: math-auto;
}

.descriptionUp2 {
    transform: translateY(calc(100% * -1));
    transition: transform 1.5s ease-in;
}

.descriptionDown2 {
    transform: translateY(16.88vw);
    transition: transform 2.15s ease-in-out;
}

.descriptionDown {
    transform: translateY(0vh);
    transition: transform 2s ease-in-out;
}

.descriptionUp {
    transform: translateY(-84.38vw);
    transition: transform 2.15s ease-in;
}

.image-general {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: unset;
    z-index: 20;
    opacity: 1;
    bottom: calc(100% * -1);
    right: 0;
    align-self: center;
    height: 100%;
    justify-content: flex-end;
}

.ease-in {
    transition: bottom 1s ease-in 0.5s;
}

.ease-out {
    transition: bottom 1.1s ease-in 0s;
}

.image-general-src {
    min-width: unset;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    -o-object-position: center bottom;
    object-position: center bottom;
    height: 92%;
    width: 100%;
    transform: translateX(38%);
}

div[class*="section-item"] {
    justify-content: flex-start;
    /*margin-top: 3.95833vw;*/
}

.text-style {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.14583rem;
    line-height: 1.5625rem;
}

.description-feedback {
    align-self: end;
    margin-top: 2.19vw;
}

.margin25 {
    margin-bottom: 1.3vw;
}



/*CSS ANIMATION*/

div {
    display: inline-block;
}

.bigger {
    margin: 0;
    font-size: 3.13vw;
    font-weight: 800;
    padding: 1.04vw;
    text-transform: uppercase;
    color: #202020;
    display: inline-block;
    position: relative;
}

.text {
    max-width: 31.25vw;
    width: 100%;
    line-height: 1.25vw;
    text-align: left;
    color: #404040;
    padding: 1.04vw;
}

.text.txt-center {
    text-align: center;
}

.text a {
    color: #0fe4d2;
}

.has-animation {
    position: relative;
}

.has-animation p, .has-animation img {
    opacity: 0;
}

.has-animation.animate-in p, .has-animation.animate-in img {
    animation: textHidden 0.1s 1.1s forwards;
}

.has-animation.animate-in:before, .has-animation.animate-in:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
}

.has-animation.animate-in:before {
    background-color: #0fe4d2;
}

.has-animation.animate-in:after {
    background-color: #202020;
    animation-delay: 0.5s;
}

.has-animation.animation-ltr.animate-in:before {
    animation: revealLTR 1.8s ease;
}

.has-animation.animation-ltr.animate-in:after {
    animation: revealLTR 1s 0.6s ease;
}

.has-animation.animation-rtl.animate-in:before {
    animation: revealRTL 1.8s ease;
}

.has-animation.animation-rtl.animate-in:after {
    animation: revealRTL 1s 0.6s ease;
}

[class*="--padding_70px_100px"] {
    padding: 2.08vw;
}

[class*="editor__manifest"] {
    position: relative;
    width: 100%;
    height: -moz-min-content;
    height: min-content;
}

.table__fer-rules_manifest {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 34.53vw;
    border: 0.05vw solid var(--neutral-l-grey, #6E8FB0);
    padding: 0.83vw 0.83vw 0.42vw 0.83vw;
    box-sizing: border-box;
    resize: vertical;
}

[class*="fer-codemirror-description"] {
    font-family: 'Inter', serif;
    color: var(--neutral-grey, #435F7B);
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25vw; /* 150% */
    width: 100%;
    min-height: 5.16vw;
    padding: 1.77vw 0.83vw 0.42vw 0.83vw;
    box-sizing: border-box;
    border-radius: 0.21vw;
    border: 0.05vw solid var(--neutral-l-grey, #6E8FB0);
    background: var(--neutral-white, #FFF);
    margin: 0;
    resize: vertical;
}

.label_for_description {
    position: absolute;
    top: 0.83vw;
    left: 0.83vw;
    color: var(--neutral-l-grey, #6E8FB0);
    /* Fields/Text 2 */
    font-family: 'Inter', serif;
    font-size: 0.63vw;
    font-style: normal;
    font-weight: 400;
    line-height: 0.83vw; /* 133.333% */
}

[class*="fer-codemirror-description"]::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--neutral-grey, #435F7B);
}

[class*="fer-codemirror-description"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--neutral-grey, #435F7B);
}

[class*="fer-codemirror-description"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--neutral-grey, #435F7B);
}

[class*="fer-codemirror-description"]::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--neutral-grey, #435F7B);
}


[class*="fer-codemirror-description"]:focus-visible {
    outline: none;
}


[class*="--min-height_20vh"] {
    min-height: 20dvh;
}

[class*="--min-height"] {
    min-height: 20dvh;
}

[class*="fer-codemirror-description"]::-webkit-input-placeholder {
    /*padding: 16px 0 0 20px;*/
}

[class*="fer-codemirror-description"]::-moz-input-placeholder {
    /*padding: 16px 0 0 20px;*/
}

[class*="fer-codemirror-description"]:-moz-input-placeholder {
    /*padding: 16px 0 0 20px;*/
}

[class*="fer-codemirror-description"]:-ms-input-placeholder {
    /*padding: 16px 0 0 20px;*/
}

.fer-region__table_list {
    height: 100%;
    overflow: overlay;
    /*margin-bottom: 5vh;*/
}

.container_1_0 {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 100%;
    gap: 1.04vw;
}

.data-rule-jsonSchema {
    white-space: break-spaces;
    color: var(--neutral-l-grey, #6E8FB0);

    /* Fields/Text 1 */
    font-family: 'Inter', serif;
    font-size: 0.83vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25vw; /* 150% */
}

.wrapper__rules-manifest {
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
    overflow: overlay;
    border-radius: 0.21vw;
    resize: vertical;
}

.wrapper__rules-manifest_verification {
    display: flex;
    flex-direction: column;
    resize: vertical;
    overflow-y: overlay;
    gap: 1.25vw;
}

.wrapper__rules-manifest_verification::-webkit-scrollbar{
    display: none;
}

.table__fer-rules_verification {
    border: 0.05vw solid var(--neutral-l-grey, #6E8FB0);
    padding: 0.83vw 0.83vw 0.42vw 0.83vw;
    box-sizing: border-box;
    /*height: 21.98vw;*/
    min-height: 15vw;
    max-height: 15vw;
    overflow-y: overlay;
}

[class*="manifest__verification"] {
    display: flex;
    flex-direction: row;
    gap: 1.25vw;
    resize: vertical;
    height: auto;
}

[class*="manifest__verification"] .theFact, [class*="manifest__verification"] .schema {
    flex-grow: 1;
    border: 0.05vw solid var(--neutral-l-grey, #6E8FB0);
    resize: vertical;
    overflow-y: overlay;
    min-height: 17.19vw;
    width: 50%;
}

.resze_none {
    resize: none;
}

@keyframes revealRTL {
    0% {
        width: 0;
        right: 0;
    }
    65% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 100%;
    }
}

@keyframes revealLTR {
    0% {
        width: 0;
        left: 0;
    }
    65% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes textHidden {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}