.forbiddenPage {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
    align-self: center;
}

img {
    margin-bottom: 1.95016vw;
}

.title {
    color: var(--black-100per);
    font-size: 1.30011vw;
    line-height: 1.73348vw;
    font-weight: 600;
    margin-bottom: 1.08342vw;
}

.subtitle {
    color: var(--black-100per);
    font-size: 0.97508vw;
    line-height: 1.30011vw;
    font-weight: 600;
    margin-bottom: 1.08342vw;
}

.contacts {
    color: var(--black-100per);
    font-size: 0.97508vw;
    line-height: 1.30011vw;
    font-weight: 600;
    margin-bottom: 1.08342vw;
}

.contacts span {
    color: var(--blue-100per);
}

.adminCloseImg {
    margin: 0;
}
