.container {
  padding: 1.08342vw;
  border-radius: 0.43337vw;
  border: 0.05417vw dashed var(--black-15per);
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
}

.title {
  font-size: 0.7584vw;
  font-weight: 600;
  line-height: 1.08342vw;
  color: var(--black-100per);
  margin-bottom: 0.54171vw;
}

.item {
  font-family: 'Golos 14pt Medium 14x20';
  display: flex;
  justify-content: flex-start;
}

.current{
  color: var(--green-100per);
}

.currentTitle {
  min-width: 9.75081vw;
}

.item:not(:last-child) {
  margin-bottom: 0.54171vw;
}

.item img {
  margin: 0;
  cursor: pointer;
  opacity: 0.6;
}

.item img:hover {
  opacity: 1;
}
.reload {
  font-family: 'Golos 14pt Medium 14x20';
  color: var(--blue-100per);
  padding: 1.08342vw 0.54171vw;
  border: 0.05417vw solid var(--black-10per);
  border-radius: 0.21668vw;
  display: flex;
  align-items: center;
  /* width: fit-content; */
  margin-top: 0.65005vw;
  cursor: pointer;
}

.reload img {
  margin-right: 0.65005vw;
}

.current {
  align-self: center;
  margin-right: 0.54171vw;
}

/*@media all and (max-width: 1023px) {*/
@media only all and (max-width: 767px) {
  .wrapper {
    margin-bottom: 0.81257vw;
  }
  .reload {
    justify-content: center;
  }

  .currentTitle {
    min-width: 11.05092vw;
  }

  .current {
    align-self: center;
    margin-right: 0.54171vw;
  }
}


/* .actions {
    display: flex;
    font-family: 'Golos 12pt Medium 12x18';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.actions>div {
    cursor: pointer;
}

.actions .report {
    color: var(--blue-100per);
}

.actions .approve {
    color: var(--green-100per);
}

.actions .cancel {
    color: var(--orange-100per);
}

.actions .delete {
    color: var(--red-100per);
}

.actions>div:not(:last-child) {
    margin-right: 16px;
} */
