.wrapper {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: var(--Main_Coding_blue-5per);
	margin-top: 5.4vw;
	/* min-height: 71vh; */
	max-height: 71vh;
}

.inputContainer {
	position: fixed;
	top: 3.46696vw;
	left: 0;
	height: 6.6vw;
	display: flex;
	align-items: center;
	background: var(--Main_Coding_input-container);
	box-shadow: 0px 0.16251vw 0.21668vw rgba(0, 31, 141, 0.12);
	width: 100%;
	z-index: 60;
}

.contentContainer {
	display: flex;
	flex-direction: row;
	min-height: 71vh;
	max-width: 93vw;
}

.wordList {
min-width: 5.41712vw;
width: 13.81365vw;
padding: 1.08342vw 0px 0 0px;
margin-right: 5.74215vw;
}

.resultSearch {
	min-width: 22.48104vw;
	width: 90.89924vw;
	padding-top: 1.08342vw;
	margin-right: 4.06284vw;
}

.choiceCode {
	margin-left: 2.60022vw;
	margin-top: 1.51679vw;
}

.filters {
	margin: 1.62514vw 0.10834vw 0 0;
	width: 14.51788vw;
	height: 100%;
}

.filters.closeFilter {
	height: 5.41712vw;
}

.searchIcon {
	width: 1.30011vw;
	height: 1.30011vw;
	margin: 0 0.86674vw;
}

.search__wrapper {
	background: var(--Main_Coding_search-wrapper);
	margin-left: 3.46696vw;
	padding: 0 0.86674vw;
	width: 26.21885vw;
}

.img__wrapper {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.deleteImg {
	margin: 0 0.86674vw;
}

.children__inputSearch {
	display: flex;
	flex-direction: column;
}

.style__Breadcrumbs_container {
	margin-left: 3.46696vw;
	margin-bottom: 0.65005vw;
}

.searchIcon {
	width: 0.81257vw;
	height: 0.81257vw;
	margin: 0 0.65005vw 0 0;
}

@media only all and (max-width: 767px) {
	.contentContainer {
		flex-direction: column;
	}

	.search__wrapper {
		margin: 0 0.43337vw;
		width: calc(100% - 0.05417vw);
		box-sizing: unset;
	}

	.inputContainer {
		width: 100%;
	}

	.inputSearch {
		width: 100%;
		background: transparent;
	}

	.children__inputSearch {
		width: 100%;
	}

	.resultSearch {
		padding: 0.43337vw 0.43337vw;
	}
}

@media all and (min-width: 768px) and (max-width: 1368px) {

}

@media all and (min-width: 1025px) { }
