.container {
  /*width: 560px;*/
  /*min-height: min-content;*/
  max-height: 80vh;
  border-radius: 4px;
  width: 774px;
}

.title {
  padding-bottom: 28px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 72px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 32px;
  border-bottom: 1px solid #eaeaef;
}

.footer {
  padding: 16px 32px;
  display: flex;
  justify-content: end;
}

.btnSplitter {
  width: 10px;
}

.titleHeader,
.title {
  font-weight: 600;
  font-size: 18px;
}

.icon {
  cursor: pointer;
}

.body {
  padding: 24px 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

}

.content {
}

.paragraph {
  padding-bottom: 28px;
  font-size: 14px;
  line-height: 20px;
}

.ul {
  margin-left: 18px;
}

.li {
  font-size: 14px;
  line-height: 20px;
}
