.postCoordinationCodeList {
    display: flex;
    position: relative;
    flex-grow: 1;
    align-self: center;
    justify-content: end;
    flex-direction: column;
}

.container > p {
    color: var(--red-100per);
    font-size: 14px;
    margin: 0 4px 0 0;
    left: -31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.code {
    cursor: pointer;
    left: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    word-break: break-word;
}

.container {
    display: flex;
    flex-direction: row;
    align-self: end;
}

.button {
    color: var(--white-100, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* 14x20 DemiBold */
    font-family: 'Golos', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.857%;
    letter-spacing: -0.07px;

    padding: 9px 24px 11px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: var(--blue-100, #3256B0);

    width: max-content;
    align-self: end;

    position: absolute;
    top: 40px;
    cursor: pointer;
}

@media only all and (max-width: 479px) {
    .postCoordinationCodeList {

    }
    .postCoordinationCodeList > p {
        word-break: normal;
    }
}
