.container {
	display: flex;
	flex-direction: row;
}

.container a, .container span {
	font-style: normal;
	font-weight: 400;
	font-size: 0.65005vw;
	line-height: 0.97508vw;
	letter-spacing: -0.004em;
	color: var(--black-35per);
}